.roundButton {
  display: flex;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.addButton {
  background-color: var(--brand-color);

  &:hover {
    background-color: var(--brand-color-hover);
  }
}

.deleteButton {
  background-color: var(--delete-red);
  font-size: 18px;
  &:hover {
    background-color: var(--delete-red-hover);
  }
}
