.eventGrid {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: var(--standart-space);
}

.backButton {
  margin-top: var(--standart-space);
  position: relative;
  top: 10px;
}
