.navMainWrapper {
  background-color: var(--brand-color);
}

.navContainer {
  // background-color: var(--brand-color);
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  display: flex;
  gap: 15px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navLeft {
  display: flex;
  gap: var(--standart-space);
  align-items: center;
}
