.navContainer {
  background-color: var(--brand-color);
  color: white;
  display: flex;
  gap: 15px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

  .navLeft {
    display: flex;
    gap: var(--standart-space);
    align-items: center;
  }
}
