:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: white;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brand-color: rgb(41, 90, 215);
  --brand-color-hover: rgb(24, 64, 163);

  /* spaces */
  --standart-space: 20px;

  /* viewport */
  --desktop-viewport-width: 1280px;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

h1,
h2,
h3 {
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.viewportWrapper {
  max-width: var(--desktop-viewport-width);
  margin: 0 auto;
  padding: 0 var(--standart-space);
}
